/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FONDO GENERAL */
body{
    background: linear-gradient(120deg,#2c5364,#203a43,#0f2027);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CONTENEDOR PRINCIPAL */
.container{
    background:white;
    padding:40px;
    border-radius:12px;
    width:420px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* TITULOS */
h2{
    margin-bottom:10px;
}

.rol{
    margin-bottom:20px;
}

/* FORMULARIOS */
form{
    display:flex;
    flex-direction:column;
}

/* LABELS */
label{
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}

/* INPUTS */
input{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}

/* CEDULA BLOQUEADA */
.cedula-bloqueada{
    background:#eee;
    cursor:not-allowed;
}

/* BOTONES */
button{
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:6px;
    background:#3498db;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#2980b9;
}

/* PANEL ADMIN */
.admin-panel{
    margin-top:40px;
    padding:20px;
    background:#f4f4f4;
    border-radius:10px;
}

/* BOTONES DEL ADMIN */
.admin-panel a{
    display:block;
    margin-top:15px;
}

.admin-panel button{
    width:100%;
}

/* BOTON SALIR */
.btn-salir{
    background:#e74c3c;
}

.btn-salir:hover{
    background:#c0392b;
}

/* NAV SUPERIOR */

.menu-admin{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#1f2d3d;
    padding:15px 0;
    display:flex;
    justify-content:center;
    gap:30px;
    box-shadow:0 3px 8px rgba(0,0,0,0.2);
    z-index:1000;
}

/* LINKS DEL MENU */

.menu-admin a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    padding:8px 15px;
    border-radius:6px;
    transition:0.3s;
}

/* HOVER */

.menu-admin a:hover{
    background:#3498db;
}