<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Empleados</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h2>Lista de Empleados</h2>

    <a th:href="@{/empleados/nuevo}">Nuevo empleado</a>

    <br><br>

    <table border="1">

    <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Correo</th>
    <th>Acciones</th>
    </tr>

    <tr th:each="e : ${empleados}">

    <td th:text="${e.id}"></td>
    <td th:text="${e.nombre}"></td>
    <td th:text="${e.correo}"></td>

    <td>
    <a th:href="@{/empleados/eliminar/{id}(id=${e.id})}">
    Eliminar
    </a>
    </td>

    </tr>

    </table>

    <br><br>

    <a th:href="@{/home}">Volver</a>

</body>
</html>