<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Empleados</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body class="home">
    <nav class="menu-admin" sec:authorize="hasRole('ADMIN')">

        <a href="/home">Inicio</a>

        <a href="/empleados/guardar">Crear Empleado</a>

        <a href="/empleados">Administrar Empleados</a>

    </nav>
<div class="container">
    <h1 class="titulo-admin" sec:authorize="hasRole('ADMIN')">
        Panel de Administrador
    </h1>

    <h2 class="bienvenida">
        Bienvenido, <span th:text="${usuario.nombre}"></span>
    </h2>
    
    <div class="perfil">

        <h3>Mi Perfil</h3>

        <form th:action="@{/perfil/actualizar}" th:object="${usuario}" method="post">

            <input type="hidden" th:field="*{id}">

            <label>Nombre</label>
            <input type="text" th:field="*{nombre}" required>

            <label>Cédula</label>
            <input type="text" th:field="*{cedula}" readonly class="cedula-bloqueada">

            <label>Usuario</label>
            <input type="text" th:field="*{username}" required>

            <label>Correo</label>
            <input type="email" th:field="*{correo}" required>

            <button type="submit">Actualizar Datos</button>

        </form>

    </div>


    <form th:action="@{/logout}" method="post">
        <button class="btn-salir" type="submit">Cerrar Sesión</button>
    </form>

</div>

</body>
</html>