<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Empleados</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Sistema Control de Empleados</h1>

    <br>

    <a th:href="@{/empleados}">Ver empleados</a>

    <br><br>

    <div sec:authorize="hasRole('ADMIN')">

        <a th:href="@{empleados}">
            Administrar Empleados
        </a>

    </div>


    <br><br>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Cerrar sesión</button>
    </form>
</body>
</html>