<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Empleados</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="login-page">
    

    <form class="container" th:action="@{/login}" method="post">

        <h2>Iniciar sesión</h2>

        <label>Usuario</label>
        <input type="text" name="username" required>

        <br><br>

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <br><br>

        <button type="submit">Ingresar</button>
        <button type="button" onclick="window.location.href='/registro'">
            Registrarse
        </button>

    </form>

</body>
</html>